Repository sparrowapp-dev/sparrow-api, pull requests merged in 2024-11, with the labels that each got.

#258 fix: handled azure connection string and azure open AI connection for missing environment
  src/modules/common/config/env.validation.ts
  src/modules/common/exception/logging.exception-filter.ts
  src/modules/common/services/blobStorage.service.ts
  src/modules/common/services/insights.service.ts
  src/modules/identity/services/hubspot.service.ts
  src/modules/workspace/services/ai-assistant.service.ts
Labels: bug

#262 fix: handle cancel event google auth
  src/modules/common/guards/google-oauth.guard.ts
  src/modules/identity/controllers/auth.controller.ts
Labels: bug

#267 feat: added graphql apis [#1986]
  src/modules/common/enum/updates.enum.ts
  src/modules/common/models/collection.model.ts
  src/modules/workspace/controllers/collection.controller.spec.ts
  src/modules/workspace/controllers/collection.controller.ts
  src/modules/workspace/payloads/collectionRequest.payload.ts
  src/modules/workspace/repositories/collection.repository.ts
  src/modules/workspace/services/collection-request.service.ts
Labels: back end, task, feature

#266 Fix: Fixed regression bugs [#1723]
  src/modules/identity/services/team-user.service.ts
  src/modules/views/inviteTeamEmail.handlebars
Labels: bug

#272 fix: fixed workspace count in disable new tag API []
  src/modules/identity/services/team.service.ts
Labels: bug, back end
