Repository sparrowapp-dev/sparrow-api, pull requests merged in 2024-10, with the labels that each got.

#238 feat: added postman collection import support APIs []
  src/modules/app/app.controller.ts
  src/modules/common/common.module.ts
  src/modules/common/models/collection.model.ts
  src/modules/common/models/collection.rxdb.model.ts
  src/modules/common/services/helper/postman.parser.ts
  src/modules/common/services/postman.parser.service.ts
  src/modules/workspace/controllers/collection.controller.ts
  src/modules/workspace/payloads/collectionRequest.payload.ts
  src/modules/workspace/services/collection.service.ts
Labels: back end

#240 feat: added AI Usage restriction []
  .env.example
  deploymentManifests/deployment.yml
  src/modules/common/config/configuration.ts
  src/modules/common/models/chatbot-stats.model.ts
  src/modules/workspace/payloads/chatbot-stats.payload.ts
  src/modules/workspace/services/ai-assistant.service.ts
  src/modules/workspace/services/chatbot-stats.service.ts
Labels: back end

#242 Feat/changed throw exceptions
  src/modules/common/enum/error-messages.enum.ts
  src/modules/common/guards/jwt-auth.guard.ts
  src/modules/common/guards/refresh-token.guard.ts
  src/modules/identity/services/auth.service.ts
  src/modules/identity/services/user.service.ts
  src/modules/identity/strategies/jwt.strategy.ts
  src/modules/identity/strategies/refresh-token.strategy.ts
Labels: bug

#244 feat: added sample collection on sign up []
  src/modules/workspace/handlers/workspace.handler.ts
  src/modules/workspace/services/collection.service.ts
Labels: back end

#243 feat: Hubspot integration
  .env.example
  deploymentManifests/deployment.yml
  pnpm-lock.yaml
  src/modules/common/config/configuration.ts
  src/modules/identity/controllers/auth.controller.ts
  src/modules/identity/identity.module.ts
  src/modules/identity/services/hubspot.service.ts
  src/modules/identity/services/user.service.ts
Labels: back end

#251 fix: converted unknow body type into string []
  src/modules/app/app.service.ts
Labels: bug, back end

#252 feat: create initial workspace when workspace length reaches to limit 0
  src/modules/workspace/services/workspace.service.ts
Labels: bug

#254 Release Version 2.10.0 [Merging development into prod]
  .github/workflows/sonarqube.yml
  deploymentManifests/deployment.yml
  sonar-project.properties
  src/modules/app/app.service.ts
  src/modules/workspace/controllers/workspace.controller.ts
  src/modules/workspace/payloads/workspaceUser.payload.ts
  src/modules/workspace/services/workspace.service.ts
Labels: back end

#255 fix: updater check function changed []
  src/modules/app/app.service.ts
Labels: bug, back end

#256 Development to release-v1
  src/modules/app/app.service.ts
Labels: back end

#257 feat: Socket.IO APIs #1880
  pnpm-lock.yaml
  src/modules/common/enum/updates.enum.ts
  src/modules/common/models/collection.model.ts
  src/modules/workspace/controllers/collection.controller.spec.ts
  src/modules/workspace/controllers/collection.controller.ts
  src/modules/workspace/payloads/collectionRequest.payload.ts
  src/modules/workspace/repositories/collection.repository.ts
  src/modules/workspace/services/collection-request.service.ts
Labels: back end
