Repository sparrowapp-dev/sparrow-api, pull requests merged in 2024-07, with the labels that each got.

#192 fix: remove validation for duplicate team with same name [#1189]
  src/modules/identity/repositories/team.repository.ts
Labels: bug

#193 feat: workspace update functionality
  .env.example
  src/modules/common/enum/database.collection.enum.ts
  src/modules/common/enum/subscription.enum.ts
  src/modules/common/enum/topic.enum.ts
  src/modules/common/enum/updates.enum.ts
  src/modules/common/models/updates.model.ts
  src/modules/workspace/controllers/updates.controller.ts
  src/modules/workspace/controllers/workspace.controller.ts
  src/modules/workspace/handlers/updates.handler.ts
  src/modules/workspace/payloads/updates.payload.ts
  src/modules/workspace/repositories/updates.repository.ts
  src/modules/workspace/services/collection-request.service.ts
  src/modules/workspace/services/collection.service.ts
  src/modules/workspace/services/environment.service.ts
  src/modules/workspace/services/updates.service.ts
  src/modules/workspace/services/workspace.service.ts
  src/modules/workspace/workspace.module.ts
Labels: back end

#201 Feat: Implement Assistant-Based Response Generation with Thread Management
  .env.example
  package.json
  pnpm-lock.yaml
  src/modules/common/config/configuration.ts
  src/modules/workspace/controllers/ai-assistant.controller.ts
  src/modules/workspace/payloads/ai-assistant.payload.ts
  src/modules/workspace/repositories/ai-assistant.repository.ts
  src/modules/workspace/services/ai-assistant.service.ts
  src/modules/workspace/workspace.module.ts
Labels: story, back end

#204 feat: added token count and feedback on chatbot []
  pnpm-lock.yaml
  src/modules/common/enum/database.collection.enum.ts
  src/modules/common/enum/subscription.enum.ts
  src/modules/common/enum/topic.enum.ts
  src/modules/common/models/chatbot-stats.model.ts
  src/modules/workspace/controllers/chatbot-stats.controller.ts
  src/modules/workspace/handlers/chatbot-token.handler.ts
  src/modules/workspace/payloads/ai-assistant.payload.ts
  src/modules/workspace/payloads/chatbot-stats.payload.ts
  src/modules/workspace/repositories/chatbot-stats.repositoy.ts
  src/modules/workspace/services/ai-assistant.service.ts
  src/modules/workspace/services/chatbot-stats.service.ts
  src/modules/workspace/workspace.module.ts
Labels: back end
