Repository sparrowapp-dev/sparrow-api, pull requests merged in 2024-09, with the labels that each got.

#224 feat: added email verification flow and APIs []
  src/modules/common/models/user.model.ts
  src/modules/identity/controllers/auth.controller.ts
  src/modules/identity/controllers/user.controller.ts
  src/modules/identity/payloads/verification.payload.ts
  src/modules/identity/repositories/user.repository.ts
  src/modules/identity/services/auth.service.ts
  src/modules/identity/services/user.service.ts
  src/modules/views/signUpVerifyEmail.handlebars
Labels: back end

#225 feat: changed type in swagger as per OpenAPI Spec 3.0 []
  src/modules/identity/controllers/team.controller.ts
  src/modules/workspace/controllers/feedback.controller.ts
Labels: back end

#226 fix: fixed update team name issue []
  src/modules/common/enum/subscription.enum.ts
  src/modules/common/enum/topic.enum.ts
  src/modules/identity/services/team.service.ts
  src/modules/workspace/handlers/teamUpdated.handler.ts
  src/modules/workspace/services/workspace.service.ts
  src/modules/workspace/workspace.module.ts
Labels: back end

#230 feat: added tesflow CRUD APIs [#1534]
  src/modules/common/enum/database.collection.enum.ts
  src/modules/common/enum/updates.enum.ts
  src/modules/common/models/testflow.model.ts
  src/modules/common/models/workspace.model.ts
  src/modules/workspace/controllers/testflow.controller.ts
  src/modules/workspace/payloads/testflow.payload.ts
  src/modules/workspace/repositories/testflow.repository.ts
  src/modules/workspace/repositories/workspace.repository.ts
  src/modules/workspace/services/testflow.service.ts
  src/modules/workspace/services/workspace.service.ts
  src/modules/workspace/workspace.module.ts
Labels: back end

#231 feat: added web socket triggers [#1594]
  src/modules/common/enum/updates.enum.ts
  src/modules/workspace/services/collection-request.service.ts
Labels: back end

#232 fix: removed localhost from import []
  src/modules/common/services/helper/oapi3.transformer.ts
  src/modules/workspace/services/collection-request.service.ts
Labels: bug

#233 fix: readability of base url env
  src/modules/common/services/helper/oapi3.transformer.ts
Labels: enhancement

#237 Release Version 2.8.0 [Merging development into prod]
  src/modules/common/enum/database.collection.enum.ts
  src/modules/common/enum/updates.enum.ts
  src/modules/common/guards/google-oauth.guard.ts
  src/modules/common/models/testflow.model.ts
  src/modules/common/models/workspace.model.ts
  src/modules/common/services/helper/oapi3.transformer.ts
  src/modules/identity/services/user.service.ts
  src/modules/identity/strategies/google.strategy.ts
  src/modules/workspace/controllers/testflow.controller.ts
  src/modules/workspace/payloads/testflow.payload.ts
  src/modules/workspace/repositories/testflow.repository.ts
  src/modules/workspace/repositories/workspace.repository.ts
  src/modules/workspace/services/collection-request.service.ts
  src/modules/workspace/services/testflow.service.ts
  src/modules/workspace/services/workspace.service.ts
  src/modules/workspace/workspace.module.ts
Labels: back end
