Repository sparrowapp-dev/sparrow-api, pull requests merged in 2025-08, with the labels that each got.

#728 fix: llm encryption
  src/modules/workspace/services/collection-request.service.ts
Labels: backend

#730 fix: llm encryption
  src/modules/workspace/services/collection-request.service.ts
Labels: backend

#734 add tag in sentry and remove the setExtra
  src/modules/workspace/services/ai-assistant.service.ts
Labels: backend

#735 fix: add-plan
  src/modules/user-admin/services/user-admin.workspace.service.ts
Labels: backend

#737 fix:null pointer exception
  src/modules/identity/repositories/user.repository.ts
  src/modules/user-admin/services/user-admin.enterprise-user.service.ts
Labels: bug, backend

#736 implemented logs in generate prompt and doc
  migrations/ai-emailId.migration.ts
  src/migration-emailId.ts
  src/modules/common/models/ai-log.model.ts
  src/modules/workspace/handlers/ai-log.handler.ts
  src/modules/workspace/payloads/ai-log.payload.ts
  src/modules/workspace/services/ai-assistant.service.ts
  src/modules/workspace/services/ai-log.service.ts
Labels: backend

#743 fix: changed cron job timing for testing []
  src/modules/workspace/schedulers/ai-consumption.scheduler.ts
Labels: bug, pr-bugfix

#744 Revert "fix: changed cron job timing for testing []"
  src/modules/workspace/schedulers/ai-consumption.scheduler.ts
Labels: backend

#745 Fix: insert generated variables WebSocket, graphQL and socket Io SPRW-1773.
  src/modules/common/models/collection.model.ts
  src/modules/workspace/services/collection.service.ts
Labels: pr-bugfix, pr-feature, backend

#750 fix: generate variable issue for inserting SPRW-1773.
  src/modules/workspace/services/collection.service.ts
Labels: pr-bugfix, backend

#751 fix: generate variable issue for inserting SPRW-1773.
  src/modules/workspace/services/collection.service.ts
Labels: pr-bugfix, backend

#754 feat: added create api for admin [SPRW-1805]
  .env.example
  migrations/self-host,migration.ts
  src/modules/common/common.module.ts
  src/modules/common/config/configuration.ts
  src/modules/common/config/env.validation.ts
  src/modules/common/guards/jwt-auth.guard.ts
  src/modules/common/models/user.model.ts
  src/modules/identity/repositories/user.repository.ts
  src/modules/identity/services/team.service.ts
  src/modules/identity/services/user.service.ts
  src/modules/user-admin/controllers/user-admin.auth.controller.ts
  src/modules/user-admin/payloads/auth.payload.ts
  src/modules/user-admin/services/user-admin.auth.service.ts
  src/types/fastify.d.ts
Labels: feature, pr-feature, backend, configuration

#755 feat: added email template for the new user from admin [SPRW-1806]
  migrations/self-host,migration.ts
  src/modules/identity/services/user.service.ts
  src/modules/views/signUpVerifiedUserEmail.handlebars
Labels: backend

#757 fix: fixed the route diversion in registerd user email []
  src/modules/identity/services/user.service.ts
Labels: bug, pr-bugfix

#748 fix: removed user role check in collection get API [SPRW-1726]
  src/modules/workspace/controllers/collection.controller.ts
Labels: bug, pr-bugfix, backend

#765 Add the validation in get user data api for superadmin only.
  src/modules/identity/controllers/user.controller.ts
Labels: backend

#771 Fix the regex function to make correct validation.
  src/modules/common/util/validate.name.util.ts
Labels: backend

#770 Add the trial restriction [SPRW-1825].
  src/modules/billing/billing.module.ts
  src/modules/billing/controllers/stripe.controller.ts
  src/modules/billing/payloads/stripe.payload.ts
  src/modules/common/config/configuration.ts
  src/modules/common/enum/trial.enum.ts
Labels: backend

#773 Revert "Add the trial restriction [SPRW-1825]."
  src/modules/billing/billing.module.ts
  src/modules/billing/controllers/stripe.controller.ts
  src/modules/billing/payloads/stripe.payload.ts
  src/modules/common/config/configuration.ts
  src/modules/common/enum/trial.enum.ts
Labels: backend
