Repository sparrowapp-dev/sparrow-api, pull requests merged in 2025-04, with the labels that each got.

#356 feat: Updated team with hub for User [SPRW-557]
  src/modules/common/config/configuration.ts
  src/modules/identity/services/team-user.service.ts
  src/modules/views/addTeamAdminEmail.handlebars
  src/modules/views/demoteTeamAdminEmail.handlebars
  src/modules/views/inviteTeamEmail.handlebars
  src/modules/views/leaveTeamEmail.handlebars
  src/modules/views/newOwnerEmail.handlebars
  src/modules/views/newWorkspaceEmail.handlebars
  src/modules/views/removeUserEmail.handlebars
  src/modules/workspace/services/workspace.service.ts
Labels: pr-feature

#359 fix: hub replacement bugs []
  src/modules/identity/services/team-user.service.ts
Labels: pr-bugfix

#361 feat: Added sparrow hub url flow [SPRW-558]
  migrations/hub.migration.ts
  package.json
  src/migration.ts
  src/modules/common/models/team.model.ts
  src/modules/common/models/workspace.model.ts
  src/modules/identity/payloads/team.payload.ts
  src/modules/identity/repositories/team.repository.ts
  src/modules/identity/services/team.service.ts
  src/modules/workspace/services/workspace.service.ts
Labels: pr-feature

#363 fix: restricted slug limit to 50 characters and removed unique name check [SPRW-558]
  src/modules/identity/services/team.service.ts
Labels: pr-bugfix

#366 Fix/testflow mingration strategy
  migrations/update-test-flow-model.migration.ts
Labels: pr-bugfix

#367 fix: testflow migration for deleted requests from collection
  migrations/update-test-flow-model.migration.ts
Labels: pr-bugfix

#376 feat: updated Invite flow with team model.
  src/modules/common/models/user.model.ts
  src/modules/identity/controllers/team.controller.ts
  src/modules/identity/payloads/user.payload.ts
  src/modules/identity/services/team-user.service.ts
  src/modules/identity/services/team.service.ts
Labels: pr-feature

#380 feat: added parser api for sctive sync [SPRW-561]
  src/modules/app/app.controller.ts
  src/modules/common/services/parser.service.ts
Labels: pr-feature

#389 Feat: updated Invite flow Email Templates.
  src/modules/views/expireInviteEmail.handlebars
  src/modules/views/teamInviteNonRegisteredReciever.handlebars
  src/modules/views/teamInviteRegisteredReciever.handlebars
Labels: pr-bugfix

#387 feat: Expire invite flow.
  src/modules/identity/controllers/team.controller.ts
  src/modules/identity/services/team-user.service.ts
Labels: pr-feature

#394 fix: Condition for Email Lowercase.
  src/modules/identity/services/team-user.service.ts
Labels: pr-bugfix

#398 fix: added last synced property in active sync collection []
  src/modules/common/models/collection.model.ts
  src/modules/common/services/parser.service.ts
Labels: pr-bugfix

#397 Fix: admin invite flow bug.
  src/modules/identity/services/team-user.service.ts
Labels: pr-bugfix

#403 fix: commented the team delete api []
  src/modules/identity/controllers/team.controller.ts
Labels: pr-bugfix

#404 fix: postman collection import
  src/modules/common/services/postman.parser.service.ts
Labels: pr-bugfix

#410 Astitva/sync release v2 changes
  src/modules/workspace/services/ai-assistant.service.ts
Labels: backend

#411 feat: added limit in generate docs also []
  src/modules/workspace/services/ai-assistant.service.ts
Labels: backend

#409 patch: fixed bugs, added whitelist flow
  .env.example
  deploymentManifests/deployment.yml
  deploymentManifests/release-v1.yml
  deploymentManifests/release-v2.yml
  src/modules/common/config/configuration.ts
  src/modules/common/models/collection.model.ts
  src/modules/common/services/parser.service.ts
  src/modules/common/services/postman.parser.service.ts
  src/modules/common/util/email.parser.util.ts
  src/modules/identity/controllers/team.controller.ts
  src/modules/identity/services/team-user.service.ts
  src/modules/identity/services/user.service.ts
  src/modules/views/teamInviteNonRegisteredReciever.handlebars
  src/modules/views/teamInviteRegisteredReciever.handlebars
  src/modules/workspace/services/ai-assistant.service.ts
Labels: backend, configuration, pr-released

#407 fix: invite flow resend flow for unregisterd users.
  src/modules/identity/payloads/teamUser.payload.ts
  src/modules/identity/services/team-user.service.ts
  src/modules/views/teamInviteNonRegisteredReciever.handlebars
Labels: pr-bugfix, backend

#412 fix: fixed the issues in postman collection import
  src/modules/common/services/helper/postman.parser.ts
Labels: backend

#413 fix: fixed some imported rabs getting unsaved issue [SPRW-621]
  src/modules/common/services/helper/postman.parser.ts
Labels: pr-bugfix, backend

#418 fix: resolved workspace owner change[#2]
  src/modules/identity/services/team-user.service.ts
Labels: pr-bugfix, backend
