Repository sparrowapp-dev/sparrow-api, pull requests merged in 2025-09, with the labels that each got.

#778 Sync Self host to development
  .env.example
  deploymentManifests/deployment.yml
  deploymentManifests/release-v2.yml
  migrations/self-host.migration.ts
  src/modules/common/common.module.ts
  src/modules/common/config/configuration.ts
  src/modules/common/config/env.validation.ts
  src/modules/common/guards/jwt-auth.guard.ts
  src/modules/common/models/user.model.ts
  src/modules/identity/repositories/user.repository.ts
  src/modules/identity/services/team-user.service.ts
  src/modules/identity/services/team.service.ts
  src/modules/identity/services/user.service.ts
  src/modules/user-admin/controllers/user-admin.auth.controller.ts
  src/modules/user-admin/payloads/auth.payload.ts
  src/modules/user-admin/services/user-admin.auth.service.ts
  src/modules/views/signUpVerifiedUserEmail.handlebars
  src/types/fastify.d.ts
Labels: backend, configuration

#780 fix: replace sparrow github token with personal token []
  .github/workflows/development.yml
Labels: github-actions

#781 Revert "fix: replace sparrow github token with personal token []"
  .github/workflows/development.yml
Labels: github-actions

#782 fix: added reverted stripe vulnerability fixes []
  src/modules/billing/billing.module.ts
  src/modules/billing/controllers/stripe.controller.ts
  src/modules/billing/payloads/stripe.payload.ts
  src/modules/common/config/configuration.ts
  src/modules/common/enum/trial.enum.ts
Labels: backend

#749 fix: global search folder timestamps issue SPRW-1754.
  src/modules/workspace/repositories/collection.repository.ts
Labels: pr-bugfix, backend

#786 feat: API for Generate Mock data SPRW-1886.
  src/modules/common/enum/collection.request.enum.ts
  src/modules/common/enum/topic.enum.ts
  src/modules/workspace/controllers/ai-assistant.controller.ts
  src/modules/workspace/payloads/ai-assistant.payload.ts
  src/modules/workspace/services/ai-assistant.service.ts
Labels: pr-feature, backend

#787 fix: pixel flooding issue
  package.json
  src/modules/common/config/configuration.ts
  src/modules/identity/services/team.service.ts
Labels: bug, backend, dependencies

#791 feat: assertion no code tour guide demo for each User SPRW-1851.
  src/modules/common/models/collection.model.ts
  src/modules/common/models/user.model.ts
  src/modules/identity/controllers/user.controller.ts
  src/modules/identity/payloads/user.payload.ts
  src/modules/identity/repositories/user.repository.ts
  src/modules/identity/services/user.service.ts
  src/modules/workspace/repositories/collection.repository.ts
  src/modules/workspace/services/collection.service.ts
Labels: pr-feature, backend

#792 fix: updated the pnpm lock file []
  pnpm-lock.yaml
Labels: pr-bugfix, dependencies

#790 fix:SPRW-1898 The lack of backend validation permits attackers to upload files of any format.
  src/modules/common/util/isImageBuffer.util.ts
  src/modules/identity/services/team.service.ts
  src/modules/workspace/services/feedback.service.ts
Labels: bug, backend

#794 fix: new invite acceptance data
  src/modules/identity/services/team-user.service.ts
Labels: backend

#800 fix: instruction updating for request body
  src/modules/workspace/services/ai-assistant.service.ts
Labels: pr-bugfix, backend

#804 fix: SPRW-1951 & 1952 [Vulnerability] Sensitive Information Disclosure via Public Workspace API
  src/modules/identity/services/team.service.ts
  src/modules/workspace/services/workspace.service.ts
Labels: bug, backend

#807 feat: assertion script tour guide SPRW-1921.
  src/modules/common/models/collection.model.ts
  src/modules/common/models/user.model.ts
  src/modules/identity/controllers/user.controller.ts
  src/modules/identity/services/user.service.ts
  src/modules/workspace/services/collection.service.ts
Labels: pr-feature, backend

#769 fix: removed the get user and metrics endpoint from v1 []
  src/modules/app/app.module.ts
  src/modules/identity/controllers/user.controller.ts
Labels: bug, released, pr-bugfix, pr-released

#811 feat: add xml to json instruction
  src/modules/common/instructions/fix-test-script.ts
Labels: backend

#810 Add the functionality of test case generation by ai [SPRW-1932].
  src/modules/common/instructions/generate-test-cases.ts
  src/modules/workspace/controllers/ai-assistant.controller.ts
  src/modules/workspace/payloads/ai-assistant.payload.ts
  src/modules/workspace/services/ai-assistant.service.ts
Labels: backend

#809 fix:Sprw 1953 vulnerability workspace users enumeration via chained idor
  src/modules/workspace/controllers/workspace.controller.ts
  src/modules/workspace/services/workspace.service.ts
Labels: backend

#814 fix:SPRW-2055 Delete hub profile picture is not working
  src/modules/identity/services/team.service.ts
Labels: bug, backend

#823 fix: open ai return statements
  src/modules/workspace/services/ai-assistant.service.ts
Labels: backend

#826 feat: test flow schedule run proxy integration SPRW-2096
  src/modules/common/config/configuration.ts
  src/modules/common/models/testflow.model.ts
  src/modules/workspace/repositories/testflow.repository.ts
  src/modules/workspace/services/testflow-run.service.ts
  src/modules/workspace/services/testflow-schedular.service.ts
  src/modules/workspace/services/testflow.service.ts
  src/modules/workspace/workspace.module.ts
Labels: pr-feature, backend

#828 feat: add testflow runner
  src/modules/workspace/controllers/testflow.controller.ts
  src/modules/workspace/services/testflow-run.service.ts
  src/modules/workspace/services/testflow.service.ts
Labels: backend

#829 fix: email template with I/O flow change SPRW-2077.
  src/modules/common/models/testflow.model.ts
  src/modules/views/testflowScheduleRunEmail.handlebars
  src/modules/workspace/services/testflow-run.service.ts
  src/modules/workspace/services/testflow.service.ts
Labels: pr-bugfix, backend
