Repository sparrowapp-dev/sparrow-api, pull requests merged in 2025-10, with the labels that each got.

#834 feat: add testflow nodes to history
  src/modules/workspace/services/testflow-run.service.ts
Labels: backend

#837 Merge development into release v2
  package.json
  src/modules/common/services/parser.service.ts
  src/modules/workspace/services/ai-assistant.service.ts
Labels: backend, dependencies

#838 feat: add create testlflow schedule guard
  src/modules/workspace/controllers/testflow.controller.ts
  src/modules/workspace/guards/plan-limits/create-testflow-schedule-guard.ts
Labels: backend

#839 feat: cron job in UTC format SPRW-2149.
  src/modules/workspace/controllers/testflow.controller.ts
  src/modules/workspace/services/testflow-schedular.service.ts
  src/modules/workspace/services/testflow.service.ts
Labels: feature, backend

#840 merging release/2.33.0 into development
  migrations/create-plan.migration.ts
  migrations/update-plan-testflow-schedule.migration.ts
  package.json
  pnpm-lock.yaml
  src/modules/common/config/configuration.ts
  src/modules/common/enum/testflow.enum.ts
  src/modules/common/models/plan.model.ts
  src/modules/common/models/testflow.model.ts
  src/modules/views/testflowScheduleRunEmail.handlebars
  src/modules/workspace/controllers/testflow.controller.ts
  src/modules/workspace/guards/plan-limits/create-testflow-schedule-guard.ts
  src/modules/workspace/payloads/testflow.payload.ts
  src/modules/workspace/repositories/testflow.repository.ts
  src/modules/workspace/services/testflow-run.service.ts
  src/modules/workspace/services/testflow-schedular.service.ts
  src/modules/workspace/services/testflow.service.ts
  src/modules/workspace/workspace.module.ts
  src/update-plan-testflow-schedule.ts
Labels: backend, dependencies

#843 feat: add environment name to the schedule
  src/modules/common/models/testflow.model.ts
  src/modules/workspace/services/testflow.service.ts
Labels: backend

#844 feat: add testflow loading state
  .env.example
  src/modules/workspace/repositories/testflow.repository.ts
  src/modules/workspace/services/testflow.service.ts
Labels: backend, configuration

#846 Fix: test flow db model empty issue.
  src/modules/workspace/services/testflow.service.ts
Labels: pr-bugfix, backend

#848 feat: add permission check to get a testflow
  src/modules/workspace/controllers/testflow.controller.ts
  src/modules/workspace/services/testflow.service.ts
Labels: backend

#849 feat: add permission check to get a testflow
  src/modules/workspace/services/testflow-run.service.ts
Labels: backend
