Repository sparrowapp-dev/sparrow-api, pull requests merged in 2025-03, with the labels that each got.

#328 feat: added collection level auth in collection [SPRW-296]
  .env.example
  src/modules/common/models/collection.model.ts
  src/modules/common/services/parser.service.ts
  src/modules/common/services/postman.parser.service.ts
  src/modules/workspace/services/collection.service.ts
Labels: back end, feature

#330 fix: added auth in update collection dto [SPRW-297]
  src/modules/workspace/payloads/collection.payload.ts
Labels: bug, back end

#332 feat: Added Metrics catching for Prometheus [SPRW-323]
  package.json
  pnpm-lock.yaml
  src/modules/app/app.module.ts
  src/modules/app/middleware/metrics.middleware.ts
Labels: back end

#342 feat: updated the health check API [SPRW-424]
  src/modules/app/app.module.ts
  src/modules/app/app.repository.ts
  src/modules/app/app.service.ts
  src/modules/common/services/kafka/kafkajs.producer.ts
Labels: bug, pr-bugfix

#346 bug: fixed year in copyright
  src/modules/views/partials/footer.handlebars
Labels: pr-bugfix

#348 feat: added functionality to save response body type []
  src/modules/common/models/collection.model.ts
  src/modules/workspace/payloads/collectionRequest.payload.ts
  src/modules/workspace/repositories/collection.repository.ts
Labels: pr-feature

#351 fix: pushed default key value pair in collection import []
  src/modules/common/services/helper/oapi3.transformer.ts
  src/modules/common/services/helper/postman.parser.ts
Labels: pr-bugfix

#352 Release Version 2.21.0 [Merging development into prod]
  .env.example
  .github/ISSUE_TEMPLATE/--bug-report.yaml
  .github/ISSUE_TEMPLATE/--feature-request.yaml
  .github/pull_request_template.md
  deploymentManifests/deployment.yml
  deploymentManifests/release-v1.yml
  src/modules/app/app.module.ts
  src/modules/app/app.repository.ts
  src/modules/app/app.service.ts
  src/modules/common/config/configuration.ts
  src/modules/common/models/collection.model.ts
  src/modules/common/services/helper/oapi2.transformer.ts
  src/modules/common/services/helper/oapi3.transformer.ts
  src/modules/common/services/helper/postman.parser.ts
  src/modules/common/services/kafka/kafkajs.producer.ts
  src/modules/proxy/adapters/custom-websocket-adapter.ts
  src/modules/proxy/gateway/websocket.gateway.ts
  src/modules/views/partials/footer.handlebars
  src/modules/workspace/controllers/ai-assistant.controller.ts
  src/modules/workspace/controllers/ai-assistant.gateway.ts
  src/modules/workspace/payloads/ai-assistant.payload.ts
  src/modules/workspace/payloads/collectionRequest.payload.ts
  src/modules/workspace/repositories/chatbot-stats.repositoy.ts
  src/modules/workspace/repositories/collection.repository.ts
  src/modules/workspace/services/ai-assistant.service.ts
  src/modules/workspace/services/chatbot-stats.service.ts
  src/modules/workspace/workspace.module.ts
Labels: released
