Repository sparrowapp-dev/sparrow-api, pull requests merged in 2025-07, with the labels that each got.

#631 feat: added verified user create API [SPRW-1360]
  src/modules/common/models/sales-email.model.ts
  src/modules/identity/controllers/user.controller.ts
  src/modules/identity/repositories/user.repository.ts
  src/modules/identity/services/user.service.ts
  src/modules/workspace/controllers/sales-email.controller.ts
  src/modules/workspace/payloads/sales-email.payload.ts
  src/modules/workspace/services/sales-email.service.ts
Labels: pr-feature, backend

#636 feat: added hub url check API [SPRW-1361]
  src/modules/common/models/sales-email.model.ts
  src/modules/identity/controllers/team.controller.ts
  src/modules/identity/payloads/team.payload.ts
  src/modules/identity/repositories/team.repository.ts
  src/modules/identity/services/team.service.ts
  src/modules/user-admin/controllers/user-admin.hubs.controller.ts
  src/modules/user-admin/payloads/hub.payload.ts
  src/modules/workspace/controllers/sales-email.controller.ts
  src/modules/workspace/repositories/sales-email.repository.ts
  src/modules/workspace/services/sales-email.service.ts
Labels: pr-feature, backend

#640 feat: email restriction [SPRW-1359]
  src/modules/views/salesTrialEmail.handlebars
  src/modules/workspace/repositories/sales-email.repository.ts
  src/modules/workspace/services/sales-email.service.ts
Labels: backend

#641 feat: added trial confirmation API []
  .env.example
  deploymentManifests/deployment.yml
  deploymentManifests/release-v2.yml
  src/modules/common/config/configuration.ts
  src/modules/views/salesTrialEmail2.handlebars
  src/modules/workspace/controllers/sales-email.controller.ts
  src/modules/workspace/services/sales-email.service.ts
Labels: pr-feature, backend, configuration

#650 fix: fixed trial bugs and added new models
  migrations/update-hub-billing.migration.ts
  package.json
  src/migrationHubBilling.ts
  src/modules/common/enum/database.collection.enum.ts
  src/modules/common/models/pricing.model.ts
  src/modules/identity/services/team-user.service.ts
  src/modules/workspace/services/sales-email.service.ts
Labels: pr-bugfix

#652 feat: Added Pricing API [SPRW-1457]
  migrations/update-hub-billing.migration.ts
  src/modules/common/models/pricing.model.ts
  src/modules/workspace/controllers/pricing.controller.ts
  src/modules/workspace/repositories/pricing.repository.ts
  src/modules/workspace/services/pricing.repository.ts
  src/modules/workspace/workspace.module.ts
Labels: pr-feature, backend

#654 fix: Add hub plan filter in Admin panel
  src/modules/user-admin/controllers/user-admin.hubs.controller.ts
  src/modules/user-admin/repositories/user-admin.hubs.repository.ts
  src/modules/user-admin/services/user-admin.hubs.service.ts
Labels: pr-bugfix, backend

#623 refactor: refactor-billing
  package.json
  pnpm-lock.yaml
  src/modules/billing/billing.module.ts
  src/modules/billing/controllers/payment-methods.controller.ts
  src/modules/billing/controllers/stripe.controller.ts
  src/modules/billing/gateways/stripe-webhook.gateway.ts
  src/modules/billing/helpers/payment-email.helper.ts
  src/modules/billing/helpers/stripe-subscription.helpers.ts
  src/modules/billing/helpers/stripe-webhook.helper.ts
  src/modules/billing/repositories/billing-audit.repository.ts
  src/modules/billing/repositories/stripe-subscription.repository.ts
  src/modules/billing/services/billing-audit.service.ts
  src/modules/billing/services/payment-email.service.ts
  src/modules/billing/services/stripe-customer.service.ts
  src/modules/billing/services/stripe-subscription.service.ts
  src/modules/common/enum/billing.enum.ts
  src/modules/common/enum/database.collection.enum.ts
  src/modules/identity/identity.module.ts
  src/modules/identity/services/team.service.ts
  src/modules/user-admin/user-admin.module.ts
  src/modules/views/paymentFailedEmail.handlebars
  src/modules/views/paymentInfoUpdatedEmail.handlebars
  src/modules/views/paymentSuccessEmail.handlebars
  src/modules/views/planDowngradedEmail.handlebars
  src/modules/views/planUpgradedEmail.handlebars
  src/modules/views/subscriptionCanceledEmail.handlebars
  src/modules/views/subscriptionResubscribedEmail.handlebars
  src/modules/views/upcomingPaymentEmail.handlebars
Labels: pr-feature, pr-refactor, backend, dependencies

#659 fix the role
  src/modules/identity/services/team-user.service.ts
Labels: backend

#658 patch: change the email content
  src/modules/identity/services/team-user.service.ts
  src/modules/views/teamInviteRegisteredReciever.handlebars
Labels: backend

#644 feat: optimize apis by reducing db calls [SPRW-1438]
  src/modules/identity/repositories/team.repository.ts
  src/modules/identity/services/team.service.ts
  src/modules/workspace/repositories/collection.repository.ts
  src/modules/workspace/repositories/environment.repository.ts
  src/modules/workspace/repositories/testflow.repository.ts
  src/modules/workspace/repositories/workspace.repository.ts
  src/modules/workspace/services/collection.service.ts
  src/modules/workspace/services/environment.service.ts
  src/modules/workspace/services/testflow.service.ts
  src/modules/workspace/services/workspace.service.ts
Labels: backend

#661 feat: added invite-flow-billing
  package.json
  pnpm-lock.yaml
  src/modules/billing/billing.module.ts
  src/modules/billing/controllers/stripe.controller.ts
  src/modules/billing/payloads/stripe.payload.ts
  src/modules/billing/repositories/stripe-subscription.repository.ts
  src/modules/billing/services/payment-email.service.ts
  src/modules/billing/services/stripe-subscription.service.ts
  src/modules/common/enum/billing.enum.ts
  src/modules/identity/identity.module.ts
  src/modules/identity/services/team-user.service.ts
Labels: pr-feature, backend, dependencies

#662 fix: update-error-message
  src/modules/billing/services/stripe-subscription.service.ts
Labels: pr-bugfix, backend

#663 feat: added signup, marketing trial confirmation mail [SPRW-1458]
  src/modules/identity/services/team.service.ts
  src/modules/views/salesTrialEmail2.handlebars
  src/modules/workspace/controllers/sales-email.controller.ts
  src/modules/workspace/services/sales-email.service.ts
Labels: pr-feature

#665 fix: resubscribe-mail
  src/modules/billing/services/payment-email.service.ts
Labels: pr-bugfix, backend

#664 fix: email template issue related to owner change SPRW-1508.
  src/modules/identity/services/team-user.service.ts
  src/modules/views/addTeamAdminEmail.handlebars
  src/modules/views/oldOwnerEmail.handlebars
Labels: pr-bugfix, backend

#670 fix: new invite tag
  src/modules/identity/services/team.service.ts
Labels: backend

#673 fix auth profile import collection
  src/modules/common/services/parser.service.ts
  src/modules/common/services/postman.parser.service.ts
Labels: pr-bugfix, backend

#675 fix: prorations
  package.json
  pnpm-lock.yaml
  src/modules/billing/services/stripe-subscription.service.ts
  src/modules/user-admin/repositories/user-admin.hubs.repository.ts
Labels: backend, dependencies

#680 fix ai tab open issue
  src/modules/workspace/services/collection-request.service.ts
Labels: backend

#682 fix: add-dto
  src/modules/billing/repositories/billing-audit.repository.ts
  src/modules/billing/repositories/stripe-subscription.repository.ts
  src/modules/billing/services/billing-audit.service.ts
  src/modules/billing/services/stripe-subscription.service.ts
  src/modules/common/models/billing.model.ts
  src/modules/common/models/licenses.model.ts
  src/modules/common/models/team.model.ts
Labels: pr-refactor, backend

#692 fix: update-flow
  package.json
  pnpm-lock.yaml
Labels: dependencies

#694 feat: update-package
  package.json
  pnpm-lock.yaml
Labels: dependencies

#697 release: Admin Panel Changes
  package.json
  pnpm-lock.yaml
  src/modules/billing/billing.module.ts
  src/modules/billing/helpers/payment-email.helper.ts
  src/modules/billing/helpers/stripe-webhook.helper.ts
  src/modules/billing/repositories/stripe-subscription.repository.ts
  src/modules/billing/services/billing-audit.service.ts
  src/modules/billing/services/license-management.service.ts
  src/modules/billing/services/payment-email.service.ts
  src/modules/billing/services/stripe-scheduler.service.ts
  src/modules/billing/services/stripe-subscription.service.ts
  src/modules/common/enum/billing.enum.ts
  src/modules/identity/controllers/user.controller.ts
  src/modules/identity/payloads/team.payload.ts
  src/modules/identity/payloads/user.payload.ts
  src/modules/identity/repositories/user.repository.ts
  src/modules/identity/services/team-user.service.ts
  src/modules/identity/services/user.service.ts
  src/modules/user-admin/controllers/user-admin.members.controller.ts
  src/modules/views/upcomingPaymentActionRequiredEmail.handlebars
  src/modules/views/upcomingPaymentEmail.handlebars
  src/modules/workspace/controllers/sales-email.controller.ts
  src/modules/workspace/services/workspace.service.ts
  src/modules/workspace/workspace.module.ts
Labels: released, backend, dependencies, pr-released

#699 fix: workspace timestamps not syncing in collection requests issue SPRW-1519.
  src/modules/workspace/services/collection-request.service.ts
  src/modules/workspace/services/collection.service.ts
Labels: pr-bugfix, backend

#695 fix: enhancement of the invite flow existing invites.
  src/modules/identity/services/team-user.service.ts
Labels: pr-refactor, backend

#700 Add guard in the trialexhauseted api.
  src/modules/identity/controllers/user.controller.ts
Labels: bug, backend

#703 implemented model in env
  .env.example
  src/modules/common/config/configuration.ts
  src/modules/workspace/services/ai-assistant.service.ts
Labels: backend, configuration

#698 Feat ai error sentry
  src/modules/workspace/services/ai-assistant.service.ts
Labels: pr-feature, backend

#708 fix: promo bugs
  package.json
  pnpm-lock.yaml
  src/modules/billing/controllers/stripe.controller.ts
  src/modules/billing/repositories/promocode.repository.ts
  src/modules/billing/services/promocode.service.ts
  src/modules/common/models/promocode.model.ts
Labels: pr-bugfix, backend, dependencies

#710 fix: update-promo-code-error
  src/modules/billing/controllers/stripe.controller.ts
  src/modules/billing/services/promocode.service.ts
  src/modules/common/models/promocode.model.ts
Labels: pr-bugfix, backend

#711 fix: update-promo-code-error
  src/modules/billing/services/promocode.service.ts
Labels: pr-bugfix, backend

#712 feat: updated the mail service for promo code [SPRW-1587]
  src/modules/workspace/controllers/sales-email.controller.ts
  src/modules/workspace/services/sales-email.service.ts
Labels: backend

#715 fix: add-promo-validations
  src/modules/billing/billing.module.ts
  src/modules/billing/controllers/stripe.controller.ts
  src/modules/billing/repositories/promocode.repository.ts
  src/modules/billing/services/promocode.service.ts
  src/modules/common/models/promocode.model.ts
  src/modules/workspace/services/pricing.repository.ts
Labels: pr-refactor, backend

#717 fix: disable-mail
  src/modules/billing/services/payment-email.service.ts
Labels: backend

#721 fix: add-promo-created-by
  src/modules/billing/controllers/stripe.controller.ts
  src/modules/billing/repositories/promocode.repository.ts
  src/modules/billing/services/promocode.service.ts
Labels: pr-bugfix, backend

#719 fix:workspace invite
  src/modules/user-admin/services/user-admin.workspace.service.ts
Labels: bug, backend

#723 Release Version 2.28.1 [Merging development into prod]
  .env.example
  deploymentManifests/deployment.yml
  deploymentManifests/release-v2.yml
  migrations/create-superadmin.migration.ts
  migrations/migrate-promocode-provider.migration.ts
  package.json
  pnpm-lock.yaml
  src/migration-promocode-provider.ts
  src/migration-superadmin.ts
  src/modules/billing/billing.module.ts
  src/modules/billing/controllers/stripe.controller.ts
  src/modules/billing/payloads/stripe.payload.ts
  src/modules/billing/repositories/promocode.repository.ts
  src/modules/billing/services/promocode.service.ts
  src/modules/billing/services/stripe-subscription.service.ts
  src/modules/common/config/configuration.ts
  src/modules/common/enum/database.collection.enum.ts
  src/modules/common/guards/roles.guard.ts
  src/modules/common/models/llm-conversation.model.ts
  src/modules/common/models/promocode.model.ts
  src/modules/identity/controllers/team.controller.ts
  src/modules/identity/controllers/user.controller.ts
  src/modules/identity/payloads/jwt.payload.ts
  src/modules/identity/repositories/user.repository.ts
  src/modules/identity/services/team-user.service.ts
  src/modules/identity/services/team.service.ts
  src/modules/identity/strategies/jwt.strategy.ts
  src/modules/user-admin/repositories/user-admin.auth.repository.ts
  src/modules/user-admin/services/user-admin.auth.service.ts
  src/modules/user-admin/services/user-admin.hubs.service.ts
  src/modules/user-admin/services/user-admin.workspace.service.ts
  src/modules/workspace/controllers/sales-email.controller.ts
  src/modules/workspace/payloads/llm-conversation.payload.ts
  src/modules/workspace/services/ai-assistant.service.ts
  src/modules/workspace/services/collection-request.service.ts
  src/modules/workspace/services/collection.service.ts
  src/modules/workspace/services/pricing.repository.ts
  src/modules/workspace/services/sales-email.service.ts
  src/types/fastify.d.ts
Labels: released, backend, dependencies, configuration, pr-released
