Repository sparrowapp-dev/sparrow-api, pull requests merged in 2025-05, with the labels that each got.

#420 feat: added hub url fields [SPRW-850]
  src/modules/common/models/team.model.ts
  src/modules/identity/payloads/team.payload.ts
  src/modules/identity/services/team.service.ts
Labels: backend

#415 add sentry integration in api
  .env.example
  package.json
  pnpm-lock.yaml
  src/modules/app/app.module.ts
  src/modules/common/common.module.ts
  src/modules/common/config/configuration.ts
  src/modules/common/exception/logging.exception-filter.ts
  src/modules/common/services/instrument.service.ts
Labels: feature, backend, dependencies, configuration

#421 feat: added sentry env in yml [SPRW-821]
  deploymentManifests/deployment.yml
  deploymentManifests/release-v2.yml
Labels: pr-bugfix

#422 Adding the migration for updating the workspaceType.
  migrations/update-workspaceType.migration.ts
  package.json
  src/migrationWorkspaceType.ts
Labels: pr-feature, dependencies

#423 feat: add admin auth
  .env.example
  deploymentManifests/deployment.yml
  deploymentManifests/release-v2.yml
  package.json
  pnpm-lock.yaml
  src/modules/app/app.module.ts
  src/modules/common/common.module.ts
  src/modules/common/config/configuration.ts
  src/modules/common/exception/logging.exception-filter.ts
  src/modules/common/models/team.model.ts
  src/modules/common/services/instrument.service.ts
  src/modules/identity/controllers/auth.controller.ts
  src/modules/identity/payloads/team.payload.ts
  src/modules/identity/services/auth.service.ts
  src/modules/identity/services/team.service.ts
Labels: backend, configuration

#425 fix: empty workspace issue [#1]
  src/modules/identity/services/team.service.ts
Labels: backend

#427 build: Repo update
  .github/workflows/release-v2.yml
  .github/workflows/reusable-release-deploy.yml
  deploymentManifests/release-v2.yml
Labels: github-actions

#429 refactor: Context Service to Use AsyncLocalStorage for Request-Scoped Context
  src/modules/app/middleware/context.middleware.ts
  src/modules/common/common.module.ts
  src/modules/common/services/context.service.ts
Labels: pr-refactor, backend

#434 Revert "refactor: Context Service to Use AsyncLocalStorage for Request-Scoped Context"
  src/modules/app/middleware/context.middleware.ts
  src/modules/common/common.module.ts
  src/modules/common/services/context.service.ts
Labels: backend

#435 fix: removed REQUEST Scope from context service []
  src/modules/common/services/context.service.ts
Labels: pr-bugfix, backend

#437 feat: added mock collection type in create collection [SPRW-957]
  package.json
  pnpm-lock.yaml
  src/modules/common/models/collection.model.ts
  src/modules/workspace/controllers/mock-server.controller.ts
  src/modules/workspace/payloads/collection.payload.ts
  src/modules/workspace/services/collection.service.ts
  src/modules/workspace/workspace.module.ts
Labels: pr-feature, backend, dependencies

#439 fix: path and file names
  src/modules/admin/admin.module.ts
  src/modules/app/app.module.ts
  src/modules/identity/identity.module.ts
  src/modules/user-admin/controllers/user-admin.auth.controller.ts
  src/modules/user-admin/controllers/user-admin.hubs.controller.ts
  src/modules/user-admin/controllers/user-admin.workspace.controller.ts
  src/modules/user-admin/repositories/user-admin.auth.repository.ts
  src/modules/user-admin/repositories/user-admin.hubs.repository.ts
  src/modules/user-admin/repositories/user-admin.workspace.repository.ts
  src/modules/user-admin/services/user-admin.auth.service.ts
  src/modules/user-admin/services/user-admin.hubs.service.ts
  src/modules/user-admin/services/user-admin.workspace.service.ts
  src/modules/user-admin/usera-admin.module.ts
Labels: backend

#432 fix: Resolve issue with joined Invite Template SPRW-815.
  src/modules/identity/services/team-user.service.ts
Labels: pr-bugfix, backend

#440 feat: added mock collection url creation [SPRW-957]
  src/modules/common/models/collection.model.ts
  src/modules/workspace/controllers/collection.controller.ts
  src/modules/workspace/services/collection.service.ts
Labels: pr-feature, backend

#441 fix: admin-auth
  src/modules/user-admin/services/user-admin.auth.service.ts
Labels: backend

#442 fix: feedbacks
  src/modules/app/app.module.ts
  src/modules/user-admin/controllers/user-admin.auth.controller.ts
  src/modules/user-admin/controllers/user-admin.hubs.controller.ts
  src/modules/user-admin/controllers/user-admin.workspace.controller.ts
  src/modules/user-admin/payloads/workspace.payload.ts
  src/modules/user-admin/repositories/user-admin.workspace.repository.ts
  src/modules/user-admin/services/user-admin.workspace.service.ts
  src/modules/user-admin/user-admin.module.ts
Labels: backend

#443 fix: remove unused api
  .env.example
  src/modules/common/config/configuration.ts
  src/modules/user-admin/controllers/user-admin.auth.controller.ts
  src/modules/user-admin/services/user-admin.auth.service.ts
Labels: backend, configuration

#438 feat: add admin api's
  .env.example
  src/modules/app/app.module.ts
  src/modules/common/config/configuration.ts
  src/modules/common/decorators/roles.decorators.ts
  src/modules/common/guards/roles.guard.ts
  src/modules/common/services/instrument.service.ts
  src/modules/identity/payloads/jwt.payload.ts
  src/modules/identity/strategies/jwt.strategy.ts
  src/modules/user-admin/controllers/user-admin.auth.controller.ts
  src/modules/user-admin/controllers/user-admin.hubs.controller.ts
  src/modules/user-admin/controllers/user-admin.workspace.controller.ts
  src/modules/user-admin/payloads/workspace.payload.ts
  src/modules/user-admin/repositories/user-admin.auth.repository.ts
  src/modules/user-admin/repositories/user-admin.hubs.repository.ts
  src/modules/user-admin/repositories/user-admin.workspace.repository.ts
  src/modules/user-admin/services/user-admin.auth.service.ts
  src/modules/user-admin/services/user-admin.hubs.service.ts
  src/modules/user-admin/services/user-admin.workspace.service.ts
  src/modules/user-admin/user-admin.module.ts
  src/modules/workspace/payloads/workspace.payload.ts
  src/modules/workspace/services/workspace.service.ts
Labels: backend, configuration

#431 Add admin redirect api
  .env.example
  src/modules/app/app.module.ts
  src/modules/common/config/configuration.ts
  src/modules/common/decorators/roles.decorators.ts
  src/modules/common/guards/roles.guard.ts
  src/modules/common/services/instrument.service.ts
  src/modules/identity/payloads/jwt.payload.ts
  src/modules/identity/strategies/jwt.strategy.ts
  src/modules/user-admin/controllers/user-admin.auth.controller.ts
  src/modules/user-admin/controllers/user-admin.hubs.controller.ts
  src/modules/user-admin/controllers/user-admin.workspace.controller.ts
  src/modules/user-admin/payloads/workspace.payload.ts
  src/modules/user-admin/repositories/user-admin.auth.repository.ts
  src/modules/user-admin/repositories/user-admin.hubs.repository.ts
  src/modules/user-admin/repositories/user-admin.workspace.repository.ts
  src/modules/user-admin/services/user-admin.auth.service.ts
  src/modules/user-admin/services/user-admin.hubs.service.ts
  src/modules/user-admin/services/user-admin.workspace.service.ts
  src/modules/user-admin/user-admin.module.ts
  src/modules/workspace/payloads/workspace.payload.ts
  src/modules/workspace/services/workspace.service.ts
Labels: backend, configuration

#430 feat: implement model switching between deepseek and gpt [SPRW-543]
  .env.example
  deploymentManifests/deployment.yml
  package.json
  pnpm-lock.yaml
  src/modules/common/config/configuration.ts
  src/modules/common/instructions/prompt.ts
  src/modules/workspace/services/ai-assistant.service.ts
Labels: backend, dependencies, configuration

#424 Fix the usable sentry logs.
  src/modules/common/exception/logging.exception-filter.ts
  src/modules/common/services/instrument.service.ts
Labels: feature, backend

#444 fix: check for workspace in hub
  src/modules/user-admin/repositories/user-admin.workspace.repository.ts
  src/modules/user-admin/services/user-admin.workspace.service.ts
Labels: backend

#446 feat: added mock collection running status API [SPRW-957]
  src/modules/common/models/collection.model.ts
  src/modules/workspace/controllers/collection.controller.ts
  src/modules/workspace/payloads/collection.payload.ts
  src/modules/workspace/services/collection.service.ts
Labels: pr-feature, backend

#448 feat: add admin-create-hub-api
  src/modules/user-admin/controllers/user-admin.hubs.controller.ts
  src/modules/user-admin/user-admin.module.ts
Labels: backend

#450 feat: add admin settings api
  src/modules/user-admin/controllers/user-admin.hubs.controller.ts
Labels: feature, backend

#451 feat: added mock request APIs [SPRW-1008]
  src/modules/common/enum/updates.enum.ts
  src/modules/workspace/controllers/collection.controller.ts
  src/modules/workspace/payloads/collectionRequest.payload.ts
  src/modules/workspace/repositories/collection.repository.ts
  src/modules/workspace/services/collection-request.service.ts
Labels: backend

#453 feat: updated the mock requests wildcard API [SPRW-1008]
  src/modules/workspace/controllers/mock-server.controller.ts
  src/modules/workspace/payloads/mock-server.payload.ts
  src/modules/workspace/repositories/collection.repository.ts
  src/modules/workspace/services/mock-server.service.ts
  src/modules/workspace/workspace.module.ts
Labels: pr-feature, backend

#449 feat: add admin endpoints for workspace details and summary
  src/modules/user-admin/controllers/user-admin.workspace.controller.ts
  src/modules/user-admin/repositories/user-admin.workspace.repository.ts
  src/modules/user-admin/services/user-admin.workspace.service.ts
Labels: feature, pr-feature, backend

#454 feat: add resend, invite and withdraw user to hub flow for admin
  src/modules/user-admin/controllers/user-admin.members.controller.ts
Labels: feature, backend

#456 fix: By-passed content type parsing in fastify []
  src/main.ts
Labels: pr-bugfix

#457 fix deepseek prompt
  src/modules/common/instructions/prompt.ts
Labels: backend

#455 fix: delete testflow is deleted property
  src/modules/common/models/testflow.model.ts
Labels: backend

#459 fix prompt
  src/modules/common/instructions/prompt.ts
Labels: backend

#462 fix:member hubs api and added api's to delete users from hub for admin panel
  src/modules/user-admin/controllers/user-admin.members.controller.ts
  src/modules/user-admin/services/user-admin.members.service.ts
Labels: feature, pr-feature, backend

#460 feat: add refresh token flow for admin app
  src/modules/user-admin/controllers/user-admin.auth.controller.ts
  src/modules/user-admin/payloads/auth.payload.ts
  src/modules/user-admin/repositories/user-admin.auth.repository.ts
  src/modules/user-admin/services/user-admin.auth.service.ts
Labels: feature, backend

#461 Fix: Corrected sender name in joined email Template SPRW-993.
  src/modules/identity/services/team-user.service.ts
Labels: backend

#445 llm evaluation implementation
  src/modules/common/enum/ai-services.enum.ts
  src/modules/workspace/payloads/ai-assistant.payload.ts
  src/modules/workspace/services/ai-assistant.service.ts
Labels: backend

#463 fix: counting logic for the hubs-overview page summary in admin panel
  src/modules/user-admin/services/user-admin.hubs.service.ts
Labels: bug, pr-bugfix, backend

#467 fix: removed the await from mail sender []
  src/modules/workspace/services/workspace.service.ts
Labels: pr-bugfix

#470 Merge development into sparrow plans
  src/modules/common/enum/ai-services.enum.ts
  src/modules/common/instructions/prompt.ts
  src/modules/identity/services/team-user.service.ts
  src/modules/user-admin/controllers/user-admin.auth.controller.ts
  src/modules/user-admin/controllers/user-admin.members.controller.ts
  src/modules/user-admin/payloads/auth.payload.ts
  src/modules/user-admin/repositories/user-admin.auth.repository.ts
  src/modules/user-admin/services/user-admin.auth.service.ts
  src/modules/user-admin/services/user-admin.hubs.service.ts
  src/modules/user-admin/services/user-admin.members.service.ts
  src/modules/workspace/payloads/ai-assistant.payload.ts
  src/modules/workspace/services/ai-assistant.service.ts
  src/modules/workspace/services/workspace.service.ts
Labels: backend

#468 feat: add mock request history in DB
  src/modules/common/models/collection.model.ts
  src/modules/workspace/repositories/collection.repository.ts
  src/modules/workspace/services/mock-server.service.ts
Labels: pr-feature, backend

#472 feat: discard expired invites
  src/modules/identity/services/team.service.ts
Labels: backend

#473 feat: remove content type for formdata SPRW-1107
  src/modules/app/app.service.ts
Labels: backend

#469 fix: add updatedBy field in the workspace details and updated the sorting logic in admin workspace details
  src/modules/user-admin/repositories/user-admin.workspace.repository.ts
  src/modules/user-admin/services/user-admin.workspace.service.ts
Labels: bug, pr-bugfix, backend

#464 feat:add joinedAt to teams, lastActive to users, and admin API for enterprise user list
  src/modules/common/models/team.model.ts
  src/modules/common/models/user.model.ts
  src/modules/identity/repositories/user.repository.ts
  src/modules/identity/services/team-user.service.ts
  src/modules/identity/services/team.service.ts
  src/modules/identity/services/user.service.ts
  src/modules/user-admin/controllers/user-admin.enterprise-user.controller.ts
  src/modules/user-admin/services/user-admin.enterprise-user.service.ts
  src/modules/user-admin/user-admin.module.ts
  src/modules/workspace/controllers/collection.controller.ts
Labels: feature, pr-feature, backend

#477 feat: added deepseek env in prod yml []
  deploymentManifests/release-v2.yml
Labels: pr-feature

#476 Merging Development into release v2
  .env.example
  deploymentManifests/deployment.yml
  deploymentManifests/release-v2.yml
  package.json
  pnpm-lock.yaml
  src/main.ts
  src/modules/app/app.module.ts
  src/modules/app/app.service.ts
  src/modules/common/config/configuration.ts
  src/modules/common/decorators/roles.decorators.ts
  src/modules/common/enum/ai-services.enum.ts
  src/modules/common/enum/updates.enum.ts
  src/modules/common/exception/logging.exception-filter.ts
  src/modules/common/guards/roles.guard.ts
  src/modules/common/instructions/prompt.ts
  src/modules/common/models/collection.model.ts
  src/modules/common/models/testflow.model.ts
  src/modules/common/services/instrument.service.ts
  src/modules/identity/payloads/jwt.payload.ts
  src/modules/identity/services/team-user.service.ts
  src/modules/identity/services/team.service.ts
  src/modules/identity/strategies/jwt.strategy.ts
  src/modules/user-admin/controllers/user-admin.auth.controller.ts
  src/modules/user-admin/controllers/user-admin.hubs.controller.ts
  src/modules/user-admin/controllers/user-admin.members.controller.ts
  src/modules/user-admin/controllers/user-admin.workspace.controller.ts
  src/modules/user-admin/payloads/auth.payload.ts
  src/modules/user-admin/payloads/members.payload.ts
  src/modules/user-admin/payloads/workspace.payload.ts
  src/modules/user-admin/repositories/user-admin.auth.repository.ts
  src/modules/user-admin/repositories/user-admin.hubs.repository.ts
  src/modules/user-admin/repositories/user-admin.workspace.repository.ts
  src/modules/user-admin/repositories/user.admin.members.repository.ts
  src/modules/user-admin/services/user-admin.auth.service.ts
  src/modules/user-admin/services/user-admin.hubs.service.ts
  src/modules/user-admin/services/user-admin.members.service.ts
  src/modules/user-admin/services/user-admin.workspace.service.ts
  src/modules/user-admin/user-admin.module.ts
  src/modules/workspace/controllers/collection.controller.ts
  src/modules/workspace/controllers/mock-server.controller.ts
  src/modules/workspace/payloads/ai-assistant.payload.ts
  src/modules/workspace/payloads/collection.payload.ts
  src/modules/workspace/payloads/collectionRequest.payload.ts
  src/modules/workspace/payloads/mock-server.payload.ts
  src/modules/workspace/payloads/workspace.payload.ts
  src/modules/workspace/repositories/collection.repository.ts
  src/modules/workspace/services/ai-assistant.service.ts
  src/modules/workspace/services/collection-request.service.ts
  src/modules/workspace/services/collection.service.ts
  src/modules/workspace/services/mock-server.service.ts
  src/modules/workspace/services/workspace.service.ts
  src/modules/workspace/workspace.module.ts
Labels: released, backend, dependencies, configuration, pr-released

#478 feat: Added admin user overview page for the admin app
  src/modules/user-admin/controllers/user-admin.enterprise-user.controller.ts
  src/modules/user-admin/services/user-admin.enterprise-user.service.ts
Labels: pr-feature, backend

#479 feat: admin user dashboard api's
  src/modules/user-admin/controllers/user-admin.enterprise-user.controller.ts
  src/modules/user-admin/repositories/user-admin.hubs.repository.ts
  src/modules/user-admin/repositories/user-admin.members.repository.ts
  src/modules/user-admin/repositories/user-admin.updates.repository.ts
  src/modules/user-admin/services/user-admin.enterprise-user.service.ts
  src/modules/user-admin/services/user-admin.members.service.ts
  src/modules/user-admin/user-admin.module.ts
Labels: feature, backend

#458 feat: implement plans models
  .env.example
  migrations/create-plan.migration.ts
  package.json
  src/create-plan.ts
  src/modules/common/config/configuration.ts
  src/modules/common/decorators/user.decorator.ts
  src/modules/common/enum/database.collection.enum.ts
  src/modules/common/guards/plan-limits/create-team-guard.ts
  src/modules/common/models/plan.model.ts
  src/modules/common/models/team.model.ts
  src/modules/identity/controllers/plan.controller.ts
  src/modules/identity/controllers/team.controller.ts
  src/modules/identity/identity.module.ts
  src/modules/identity/payloads/plan.payload.ts
  src/modules/identity/repositories/plan.repository.ts
  src/modules/identity/repositories/team.repository.ts
  src/modules/identity/repositories/user.repository.ts
  src/modules/identity/services/plan.service.ts
  src/modules/identity/services/team.service.ts
  src/modules/identity/services/user.service.ts
  src/modules/identity/strategies/jwt.strategy.ts
Labels: backend, dependencies, configuration

#490 feat: added fetch public collection list API [SPRW-1033]
  src/modules/workspace/controllers/workspace.controller.ts
  src/modules/workspace/repositories/workspace.repository.ts
  src/modules/workspace/services/workspace.service.ts
Labels: pr-feature

#492 fix: fixed the page size [SPRW-1033]
  src/modules/workspace/controllers/workspace.controller.ts
Labels: pr-bugfix

#494 fix o1 and o1 mini parameters
  src/modules/workspace/services/ai-assistant.service.ts
Labels: backend

#482 feat: test flow block restriction for community plan SPRW-913.
  migrations/create-plan.migration.ts
  src/modules/common/models/plan.model.ts
  src/modules/common/models/workspace.model.ts
  src/modules/workspace/controllers/testflow.controller.ts
  src/modules/workspace/controllers/workspace.controller.ts
  src/modules/workspace/guards/plan-limits/create-testflow-block-guard.ts
  src/modules/workspace/guards/plan-limits/create-testflow-guard.ts
  src/modules/workspace/guards/plan-limits/create-workspace-guard.ts
  src/modules/workspace/services/workspace.service.ts
Labels: feature, backend

#493 fix: the hubs contributors logic api for hubs overview in admin panel
  src/modules/user-admin/repositories/user-admin.hubs.repository.ts
  src/modules/user-admin/services/user-admin.hubs.service.ts
Labels: bug, pr-bugfix, backend

#496 fix: admin user moudle chart data update
  src/modules/user-admin/services/user-admin.enterprise-user.service.ts
Labels: pr-bugfix

#497 feat: create an API to search workspaces [SPRW-1089]
  src/modules/workspace/controllers/workspace.controller.ts
  src/modules/workspace/repositories/workspace.repository.ts
  src/modules/workspace/services/workspace.service.ts
Labels: pr-feature, backend

#487 Sprw 907 community plan as a user i should be able to add upto 5 collaborators
  deploymentManifests/release-v2.yml
  migrations/create-plan.migration.ts
  package.json
  pnpm-lock.yaml
  src/modules/app/app.service.ts
  src/modules/common/config/configuration.ts
  src/modules/common/enum/ai-services.enum.ts
  src/modules/common/models/collection.model.ts
  src/modules/common/models/plan.model.ts
  src/modules/common/models/team.model.ts
  src/modules/common/models/user.model.ts
  src/modules/identity/controllers/team.controller.ts
  src/modules/identity/guards/create-team-guard.ts
  src/modules/identity/guards/hub-invite.guard.ts
  src/modules/identity/repositories/user.repository.ts
  src/modules/identity/services/team-user.service.ts
  src/modules/identity/services/team.service.ts
  src/modules/identity/services/user.service.ts
  src/modules/user-admin/controllers/user-admin.enterprise-user.controller.ts
  src/modules/user-admin/repositories/user-admin.hubs.repository.ts
  src/modules/user-admin/repositories/user-admin.members.repository.ts
  src/modules/user-admin/repositories/user-admin.updates.repository.ts
  src/modules/user-admin/repositories/user-admin.workspace.repository.ts
  src/modules/user-admin/services/user-admin.enterprise-user.service.ts
  src/modules/user-admin/services/user-admin.hubs.service.ts
  src/modules/user-admin/services/user-admin.members.service.ts
  src/modules/user-admin/services/user-admin.workspace.service.ts
  src/modules/user-admin/user-admin.module.ts
  src/modules/workspace/controllers/ai-assistant.controller.ts
  src/modules/workspace/controllers/collection.controller.ts
  src/modules/workspace/controllers/workspace.controller.ts
  src/modules/workspace/guards/plan-limits/workspace-invite.guard.ts
  src/modules/workspace/payloads/ai-assistant.payload.ts
  src/modules/workspace/repositories/collection.repository.ts
  src/modules/workspace/repositories/workspace.repository.ts
  src/modules/workspace/services/ai-assistant.service.ts
  src/modules/workspace/services/mock-server.service.ts
  src/modules/workspace/services/workspace.service.ts
Labels: pr-feature, backend, dependencies

#499 Feat implement gemini
  src/modules/common/enum/ai-services.enum.ts
  src/modules/workspace/services/ai-assistant.service.ts
Labels: backend

#509 feat: plan api to fetch plan details.
  src/modules/identity/controllers/plan.controller.ts
  src/modules/identity/payloads/plan.payload.ts
  src/modules/identity/repositories/plan.repository.ts
  src/modules/identity/services/plan.service.ts
Labels: pr-feature, backend

#511 create new infra for pricing plan
  .github/workflows/sparrow-plans.yml
Labels: github-actions

#508 feat: implement api to create mock collection from existing collection [SPRW-1151]
  src/modules/common/models/collection.model.ts
  src/modules/workspace/controllers/collection.controller.ts
  src/modules/workspace/services/collection.service.ts
Labels: pr-feature, backend

#510 feat: role api of admin
  src/modules/user-admin/controllers/user-admin.auth.controller.ts
  src/modules/user-admin/services/user-admin.auth.service.ts
Labels: pr-feature, backend

#516 fix anthropic error issue
  src/modules/workspace/services/ai-assistant.service.ts
Labels: pr-bugfix, backend

#517 fix deepseek error issue
  src/modules/workspace/services/ai-assistant.service.ts
Labels: pr-bugfix, backend

#518 fix: resolved case when url and method matches but request is empty [SPRW-1183]
  src/modules/workspace/services/mock-server.service.ts
Labels: pr-bugfix
