Repository sparrowapp-dev/sparrow-api, pull requests merged in 2025-06, with the labels that each got.

#519 fix: curl import bug [SPRW-1146]
  src/modules/app/app.service.ts
Labels: pr-bugfix, backend

#521 fix json response and o1 mini
  src/modules/workspace/services/ai-assistant.service.ts
Labels: backend

#526 Sync Development to Sparrow-Plans
  src/modules/app/app.service.ts
  src/modules/common/enum/ai-services.enum.ts
  src/modules/common/instructions/prompt.ts
  src/modules/common/models/collection.model.ts
  src/modules/identity/controllers/team.controller.ts
  src/modules/identity/services/team.service.ts
  src/modules/user-admin/controllers/user-admin.auth.controller.ts
  src/modules/user-admin/services/user-admin.auth.service.ts
  src/modules/user-admin/services/user-admin.enterprise-user.service.ts
  src/modules/workspace/controllers/collection.controller.ts
  src/modules/workspace/services/ai-assistant.service.ts
  src/modules/workspace/services/collection-request.service.ts
  src/modules/workspace/services/collection.service.ts
  src/modules/workspace/services/mock-server.service.ts
Labels: backend

#515 Feat generate prompt api
  src/modules/workspace/services/ai-assistant.service.ts
Labels: pr-feature, pr-refactor, backend

#529 fix: fixed the undefined _id issue in sender invite for get all teams []
  src/modules/identity/services/team.service.ts
Labels: pr-bugfix, backend

#481 feat: Added AI request apis [SPRW-1047]
  src/modules/common/enum/updates.enum.ts
  src/modules/common/models/collection.model.ts
  src/modules/workspace/controllers/collection.controller.ts
  src/modules/workspace/payloads/collectionRequest.payload.ts
  src/modules/workspace/repositories/collection.repository.ts
  src/modules/workspace/services/collection-request.service.ts
Labels: pr-feature, backend

#530 fix docuemnt generation button
  src/modules/workspace/payloads/ai-assistant.payload.ts
  src/modules/workspace/services/ai-assistant.service.ts
Labels: pr-bugfix, backend

#533 feat: added mock response APIs [SPRW-1228]
  src/modules/common/enum/updates.enum.ts
  src/modules/common/models/collection.model.ts
  src/modules/workspace/controllers/collection.controller.ts
  src/modules/workspace/payloads/collectionRequest.payload.ts
  src/modules/workspace/repositories/collection.repository.ts
  src/modules/workspace/services/collection-request.service.ts
Labels: backend

#531 fix: Sparrow Plan bugs related to the user invite limit per hub SPRW-907.
  src/modules/identity/guards/hub-invite.guard.ts
  src/modules/identity/payloads/team.payload.ts
  src/modules/identity/services/team.service.ts
  src/modules/workspace/guards/plan-limits/workspace-invite.guard.ts
Labels: pr-bugfix, backend

#534 Fix: Expired condition added while retrieving invites.
  src/modules/identity/services/team.service.ts
Labels: pr-refactor, backend

#544 feat: updated save mock request API for mock response [SPRW-1232]
  migrations/create-load-testing-user.migration.ts
  src/modules/workspace/repositories/collection.repository.ts
Labels: backend

#546 Feat/sparrow plans
  migrations/create-plan.migration.ts
  migrations/update-plan-testflow-history.migration.ts
  migrations/upgrade-plan.migration.ts
  package.json
  src/modules/common/models/plan.model.ts
  src/modules/workspace/guards/plan-limits/create-testflow-block-guard.ts
  src/modules/workspace/guards/plan-limits/create-testflow-guard.ts
  src/modules/workspace/guards/plan-limits/create-workspace-guard.ts
  src/upgrade-plan.ts
Labels: backend, dependencies

#547 Feat/hubs collaborator limit as per plan
  migrations/create-plan.migration.ts
  src/modules/common/models/plan.model.ts
Labels: github-actions, backend, dependencies, configuration

#550 Fix error issue in Gemini
  src/modules/workspace/controllers/llm-conversation.controller.ts
  src/modules/workspace/services/ai-assistant.service.ts
Labels: pr-bugfix, backend

#528 feat: add-stripe-payment
  .gitignore
  package.json
  pnpm-lock.yaml
  src/main.ts
  src/modules/app/app.module.ts
  src/modules/billing/billing.module.ts
  src/modules/billing/controllers/payment-methods.controller.ts
  src/modules/billing/controllers/stripe.controller.ts
  src/modules/billing/gateways/stripe-webhook.gateway.ts
  src/modules/billing/payloads/payment-methods.payload.ts
  src/modules/billing/payloads/stripe.payload.ts
  src/modules/billing/repositories/stripe-subscription.repository.ts
  src/modules/billing/services/stripe-subscription.service.ts
  src/modules/common/config/configuration.ts
  src/modules/proxy/adapters/custom-websocket-adapter.ts
  src/modules/user-admin/controllers/user-admin.hubs.controller.ts
  src/modules/user-admin/controllers/user-admin.members.controller.ts
  src/modules/user-admin/repositories/user-admin.hubs.repository.ts
  src/modules/user-admin/services/user-admin.members.service.ts
Labels: feature, backend, dependencies

#561 feat: changed mock url comparison to endpoint only [SPRW-1250]
  src/modules/workspace/services/mock-server.service.ts
Labels: pr-feature

#562 fix: stripe bug fixes
  src/modules/billing/controllers/stripe.controller.ts
  src/modules/billing/gateways/stripe-webhook.gateway.ts
  src/modules/billing/services/stripe-subscription.service.ts
Labels: github-actions, backend, dependencies, configuration

#563 fix: add-customer-name
  pnpm-lock.yaml
  src/modules/billing/controllers/stripe.controller.ts
  src/modules/billing/payloads/stripe.payload.ts
Labels: backend, dependencies

#565 feat: unlimited support for standard and professional for Run history.
  migrations/create-plan.migration.ts
  migrations/update-plan-testflow-history.migration.ts
Labels: pr-bugfix

#560 fix: fixed missing user obj in producer service for ai request
  src/modules/workspace/services/collection-request.service.ts
Labels: backend

#569 Feat/sparrow plans
  deploymentManifests/release-plan.yml
  migrations/create-plan.migration.ts
  migrations/update-plan-testflow-history.migration.ts
  pnpm-lock.yaml
  src/modules/billing/controllers/stripe.controller.ts
  src/modules/billing/gateways/stripe-webhook.gateway.ts
  src/modules/billing/payloads/stripe.payload.ts
  src/modules/billing/services/stripe-subscription.service.ts
Labels: backend, dependencies

#570 change manifest filr from deployment to sparrow-plans
  .github/workflows/sparrow-plans.yml
Labels: github-actions

#578 remove unused file import
  src/modules/identity/controllers/team.controller.ts
  src/modules/identity/guards/create-team-guard.ts
Labels: backend

#579 fix: fixed the params and mock response create issue [SPRW-1305]
  src/modules/workspace/repositories/collection.repository.ts
  src/modules/workspace/services/mock-server.service.ts
Labels: backend

#588 Fix workspace invite fail for existing for first time SPRW-1314.
  src/modules/workspace/services/workspace.service.ts
Labels: pr-bugfix, backend

#593 fix:upgrade plans
  src/modules/user-admin/controllers/user-admin.members.controller.ts
  src/modules/user-admin/services/user-admin.hubs.service.ts
Labels: bug, backend

#595 feat: added response ration update API []
  src/modules/common/models/collection.model.ts
  src/modules/workspace/controllers/collection.controller.ts
  src/modules/workspace/payloads/collectionRequest.payload.ts
  src/modules/workspace/repositories/collection.repository.ts
  src/modules/workspace/services/collection-request.service.ts
Labels: pr-feature, backend

#599 fix: add-void-invoice
  package.json
  pnpm-lock.yaml
  src/modules/billing/services/stripe-scheduler.service.ts
  src/modules/billing/services/stripe-subscription.service.ts
  src/modules/user-admin/controllers/user-admin.hubs.controller.ts
  src/modules/user-admin/services/user-admin.hubs.service.ts
Labels: backend, dependencies

#602 add build-arg github token at docker build stage
  .github/workflows/reusable-release-deploy.yml
Labels: github-actions

#605 fix: updated comment for build trigger []
  src/modules/workspace/repositories/collection.repository.ts
Labels: backend

#609 feat: add github token in workflow
  .github/workflows/release-v2.yml
  .github/workflows/reusable-release-deploy.yml
Labels: github-actions

#610 fix: github token issue
  .github/workflows/release-v2.yml
  .github/workflows/reusable-release-deploy.yml
Labels: github-actions

#615 Add the function to select response on the basis of weightage [SPRW-1369].
  src/modules/workspace/services/mock-server.service.ts
Labels: backend

#617 feat: add trial
  package.json
  pnpm-lock.yaml
  src/modules/billing/controllers/stripe.controller.ts
  src/modules/billing/payloads/stripe.payload.ts
  src/modules/billing/services/stripe-subscription.service.ts
Labels: backend, dependencies

#618 fix: workspace handler on create user
  src/modules/workspace/handlers/workspace.handler.ts
Labels: backend

#621 refactor: refactor-billing
  src/modules/billing/controllers/stripe.controller.ts
  src/modules/billing/gateways/stripe-webhook.gateway.ts
  src/modules/billing/repositories/stripe-subscription.repository.ts
  src/modules/billing/services/stripe-scheduler.service.ts
  src/modules/billing/services/stripe-subscription.service.ts
  src/modules/common/enum/billing.enum.ts
  src/modules/common/enum/plan.enum.ts
  src/modules/user-admin/repositories/user-admin.hubs.repository.ts
  src/modules/user-admin/services/user-admin.members.service.ts
Labels: backend

#502 fix: Workspace details api bugs in the admin panel
  src/modules/user-admin/services/user-admin.workspace.service.ts
Labels: bug, pr-bugfix, backend

#627 feat: added sales email trial API [SPRW-1418]
  src/modules/common/enum/database.collection.enum.ts
  src/modules/common/models/sales-email.model.ts
  src/modules/views/salesTrialEmail.handlebars
  src/modules/workspace/controllers/sales-email.controller.ts
  src/modules/workspace/payloads/sales-email.payload.ts
  src/modules/workspace/repositories/sales-email.repository.ts
  src/modules/workspace/services/sales-email.service.ts
  src/modules/workspace/workspace.module.ts
Labels: backend
